h1 {
  font-family: 'Allura', cursive;
  font-size: 6rem;
}
blockquote{
  font-family: 'Rufina', serif;
  margin: 4rem;
  font-size: 2rem;
}
#box {
    background-color: lightblue;
    margin-top: 3rem;
    padding-bottom: 1rem;
    border-radius: 30px;
}

hr.style {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
