h1 {
  font-size: 28px;
}

.container-fluid{
  height: 100vh;
  font-family: serif;
}
.default{
  background: linear-gradient(#cccccc, #2e4482);
}
.day{
  background: linear-gradient(white, lightblue);
}

/* For day */
.clear_sky{
  background-image: url(../images/clear_sky.jpeg);
  background-size: cover;
}
.few_clouds{
  background-image: url(../images/few_clouds.jpeg);
  background-size: cover;
}
.scattered_clouds{
  background-image: url(../images/scattered_clouds.jpeg);
  background-size: cover;
}
.broken_clouds{
  background-image: url(../images/broken_clouds.jpeg);
  background-size: cover;
}
.shower_rain{
  background-image: url(../images/rain_showers.jpg);
  background-size: cover;
}
.rain{
  background-image: url(../images/rain.jpg);
  background-size: cover;
}
.thunderstorm{
  background-image: url(../images/thunderstorm.jpg);
  background-size: cover;
}
.snow{
  background-image: url(../images/snow.jpg);
  background-size: cover;
}
.mist{
  background-image: url(../images/mist.jpeg);
  background-size: cover;
}

/* For night */
.clear_sky_night{
  background-image: url(../images/clear_sky_night.jpeg);
  background-size: cover;
}
.few_clouds_night{
  background-image: url(../images/few_clouds_night.jpeg);
  background-size: cover;
}
.scattered_clouds_night{
  background-image: url(../images/scattered_clouds_night.jpeg);
  background-size: cover;
}
.broken_clouds_night{
  background-image: url(../images/broken_clouds_night.jpeg);
  background-size: cover;
}
.shower_rain_night{
  background-image: url(../images/rain_showers_night.jpg);
  background-size: cover;
}
.rain_night{
  background-image: url(../images/rain_night.jpeg);
  background-size: cover;
}
.thunderstorm_night{
  background-image: url(../images/thunderstorm_night.jpg);
  background-size: cover;
}
.snow_night{
  background-image: url(../images/snow_night.jpeg);
  background-size: cover;
}
.mist_night{
  background-image: url(../images/mist_night.jpeg);
  background-size: cover;
}

.basic{
  margin: 0 auto;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(200,200,200, 0.1), rgba(255,255,255, 0.9));
}
.basic p:first-child{
  margin-top: 40px;
}
.basic img{
  margin-top: -10px;
}
.city{
  color: #000;
  /* background-color: rgba(255,255,255, 0.9); */
  text-shadow: 2px 1px 1px rgba(200,200,200, 0.9), 3px 1px 3px rgba(255,255,255, 0.9)
  ,-1px 0px 1px rgba(255,255,255, 0.9), 0px -2px 1px rgba(255,255,255, 0.9);
}
.city h1{
  font-family: sans-serif;
  font-weight: bold;
}
.extend{
  text-shadow: white 1px 1px 10px;
}
#temperature{
  color: #000;
  font-size: 26px;
  font-weight: bold;
}
/* #temperature::after{
  content:"\2103"; //Celsius
} */
/* #temperature::after{
  content: "\2109";
} */
.units,
.unit_degree{
  font-size: 26px;
  color: #000;
}
#main{
  font-size: 16px;
}
#description{
  font-style: italic;
  font-size: 90%;
}
#min, #max{
  font-size: 85%;
}
a{
  color: #000;
  text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.5);
}
a:visited{
  color: #000;
}
a:hover {
  color: maroon;
  text-decoration: none;
}
a:active{
  color: #000;
  text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.8);
}
.fa-arrow-down,
.fa-arrow-up{
  font-size: 80%;
}
.fa-thermometer-half{
  font-size: 180%;
}
